//Font-family 'OrkneyRegular' is defined in index.html
* {
    font-family: 'OrkneyRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $text-primary-color;
}